@{
    ViewData["Title"] = "Profile Info";
}

<div class="text-center" ng-controller="homeIndexNewCtrl">
    <button ng-click="GetDataCity()">Get data City</button>
    <button ng-click="GetDataNeighborhood()">Get data Neighborhood</button>
</div>
<script src="~/scripts/profiles/index.js"></script>